<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angry Dice</title>
    <link rel="stylesheet" href="../../static/css/stylesheet.css" />
</head>
<body>
    <main>
        <section>
            <h1>Round: 1</h1>
            <div id="imgDivA" class="a1">
                <img id="realImgA" src="../../static/imgs/die1.png">
            </div>
            <div id="imgDivB" class="b1">
                <img id="realImgB" src="../../static/imgs/die1.png">
            </div>
            <div>
                <button id="rollButton1" type="button">Roll A</button>
                <button id="rollButton2" type="button">Roll B</button>
                <button id=rollBoth" type="button">Roll Both</button>
            </div>
        </section>
    </main>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../js/angry_game.js"> </script>
</body>
</html>