<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angry Dice</title>
    <link rel="stylesheet" href="../../static/css/stylesheet.css" />
</head>
<body>
    <main>
        <section>
            <h1>Round: 1</h1>
            <div id="imgDiv" class="1">
                <img id="realImg" src="../../static/imgs/die1.png">
            </div>
            <div>
                <button id="rollButton" type="button">Roll</button>
                <button id="holdButton" type="button">Hold</button>
            </div>
        </section>
    </main>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../js/angry_game.js"> </script>
</body>
</html>